@model Hung_Tran_Ngoc_66131218_Web_QLBH.Models.HangSX

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo mới Hãng Sản Xuất</h1>

<h4>Thông tin Hãng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TenHSX" class="control-label">Tên Hãng SX</label>
                <input asp-for="TenHSX" class="form-control" placeholder="Nhập tên hãng..." />
                <span asp-validation-for="TenHSX" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaNuoc" class="control-label">Quốc Gia</label>
                <select asp-for="MaNuoc" class="form-control" asp-items="ViewBag.Nuocs">
                    <option value="">-- Chọn Quốc Gia --</option>
                </select>
                <span asp-validation-for="MaNuoc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}