@model Hung_Tran_Ngoc_66131218_Web_QLBH.Models.LoaiSP

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LoaiSP</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhomSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhomSP)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaLSP" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
