@model Hung_Tran_Ngoc_66131218_Web_QLBH.Models.LoaiSP

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LoaiSP</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhomSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhomSP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaLSP">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
